.worldMap {
    position: relative;
    width: 100%;
    aspect-ratio: 2.5/1;
    border-radius: 25px;
}

.mapContainer {
    width: 100%;
}

.popupDescription {
    white-space: pre-wrap;
}

@media (max-width: 768px) {
    .worldMap {
        aspect-ratio: 2;
    }
}

@media (max-width: 480px) {
    .worldMap {
        aspect-ratio: 1.2;
    }
}