:root {
    --primary: rgb(230, 57, 70);
    --secondary: rgb(239, 35, 60);
    --tertiary: rgb(237, 242, 244);
    --quaternary: rgb(141, 153, 174);
    --quinary: rgb(43, 45, 66);

    --light-blue: rgb(130, 195, 252);
    --blue: rgb(65 111 184);
}